{% extends 'index.html' %}
{% block content %}
    <div style="display: flex;  justify-content: right; margin-right: 5px; margin-left: 5px; width: 100%">
        <form style="display: flex; flex-direction: column; align-items: center">
            <div class="form-floating" style="width: 150px;">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                        name="clients_filter">
                    <option value="all">All clients</option>
                    <option selected value="active">Active clients</option>
                    <option value="inactive">Inactive clients</option>
                </select>
                <label for="floatingSelect">Filter</label>
            </div>
            <input type="submit" value="Apply filter" class="btn btn-outline-success"
                   style="width: 150px; margin-top: 15px;">
        </form>
    </div>
    <div style="display: flex;
  justify-content: center" class="mb-1">
        <h3>Clients</h3>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Full name</th>
            <th scope="col">Telephone</th>
            <th scope="col">Email</th>
            <th scope="col">Telegram</th>
            <th scope="col">Service company</th>
            <th scope="col">Active</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for client in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ client.first_name }} {{ client.last_name }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.telegram }}</td>
                <td>{{ client.service_company.name }}</td>
                <td>{{ client.is_active_client }}</td>
                <td>
                    <a class="btn btn-outline-primary" style="width: 150px;"
                       href="{% url 'edit_client' client.id %} ">Edit
                    </a>
                </td>
                {% if client.is_active_client %}
                    <td>
                        {% if request.user.is_company_admin %}
                            <!-- Button trigger modal delete -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal_del_{{ client.id }}">
                                Delete
                            </button>

                            <!-- Modal delete -->
                            <div class="modal fade" id="exampleModal_del_{{ client.id }}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel_del_{{ client.id }}"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5"
                                                id="exampleModalLabel_del_{{ client.id }}">Deleting a
                                                card</h1>
                                            <button type="button" class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-start">This action can not be undone!!!</p>
                                            <p class="text-start">If you delete a client, then all his orders will be
                                                deleted along with him.</p>
                                            <p class="text-start">
                                                ENSURE THAT REMOVING THE CLIENT
                                                ({{ client.first_name }} {{ client.last_name }}) WILL NOT CAUSE
                                                PROBLEMS.</p>
                                        </div>
                                        <div class="modal-footer"
                                             style="width: auto; display: flex; align-items: flex-start; justify-content: flex-start">

                                            <form method="post" style="width: 100%;"
                                                  action={% url "client_delete" client.id %}>
                                                {% csrf_token %}
                                                <input class="form-control" type="text"
                                                       value="{{ client.first_name }}-{{ client.last_name }}"
                                                       aria-label="Disabled input example" disabled readonly
                                                       style="margin-top: 15px">
                                                <label for="subm" class="form-label" style="margin-top: 15px">Enter the
                                                    client's first and last name
                                                    to confirm deletion:</label>
                                                <input class="form-control" type="text" name="client_f_l_name" id="subm"
                                                       style="margin-top: 2px">
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input " type="checkbox" name="real_deletion"
                                                           id="flexCheckChecked"/>
                                                    <label class="form-check-label" for="flexCheckChecked">Real deleting</label>
                                                </div>
                                                <button type="submit" class="btn btn-danger" style="margin-top: 15px">
                                                    Delete
                                                </button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                {% else %}
                    <td>
                        <form method="post"
                              action={% url "recovery-client" client.id %}>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-success">
                                Recovery client
                            </button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div aria-label="..." style="display: flex;
  justify-content: center" class="mb-3">
        <ul class="pagination d-flex">
            {% if page_obj.has_previous %}
                <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            </li>
            {% for p in paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </div>

{% endblock %}
