{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="container rounded  mt-5 mb-5">
        <div class="row" style="align-items: center; justify-content: center ">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">

                    {% if user.image %}
                        <img class="rounded mt-5"
                             width="250px"
                             height="250px"
                             style="box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)"
                             src="{{ user.image.url }}">
                    {% else %}
                        <img class="rounded mt-5"
                             width="250px"
                             height="250px"
                             style="box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)"
                             src="{% static 'profile_images/avatar_placeholder.jpg' %}">
                    {% endif %}
                    <span class="font-weight-bold">{{ request.user.username }}</span>
                    <span class="text-white-50">{{ request.user.email }}</span>
                </div>
            </div>
            <div class="col-md-5 border-right" style="border-right: solid 1px; border-left: solid 1px">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-left align-items-left mb-3" style="margin-left: 110px ">
                        <h4 class="text-right">Profile Info</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label>
                            <h3> {{ request.user.first_name }}  </h3>
                        </div>
                        <div class="col-md-6"><label class="labels">Surname</label>
                            <h3> {{ request.user.last_name }}</h3>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Company</label>
                            <h3> {{ request.user.company }}</h3>
                        </div>
                        <div class="col-md-6"><label class="labels">Status</label>
                            <h3>
                                {% if request.user.is_company_admin %}
                                    Company administrator
                                {% else %}
                                    Manager
                                {% endif %}
                            </h3>
                        </div>
                    </div>
                    <div class="mt-5 text-center" style="display: flex; justify-content: space-between">
                        <a type="button" href="{% url 'update_profile' request.user.id %}"
                           class="btn btn-primary profile-button">Edit profile</a>

                        <!-- Button trigger modal change password -->

                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal_change_{{ request.user.id }}">
                            Change password
                        </button>

                        <!-- Modal change password -->
                        <div class="modal fade" id="exampleModal_change_{{ request.user.id }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel_change_{{ request.user.id }}"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5"
                                            id="exampleModalLabel_change_{{ request.user.id }}">Changing password</h1>
                                        <button type="button" class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <form method="post" style="width: 100%;"
                                          action={% url "change_password" request.user.id %}>
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="inputPasswordOld">Current Password</label>
                                                {{ form.current_password }}
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPasswordNew">New Password</label>
                                                {{ form.password }}
                                                <span class="form-text small text-muted">
                                            The password must be 8-20 characters, and must <em>not</em> contain spaces.
                                        </span>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPasswordNewVerify">Confirm new password</label>
                                                {{ form.confirm_password }}
                                                <span class="form-text small text-muted">
                                            To confirm, type the new password again.
                                        </span>
                                            </div>
                                        </div>
                                        <div class="modal-footer"
                                             style="width: auto; display: flex; align-items: flex-start; justify-content: flex-start">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success  float-right">Save
                                                </button>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-left align-items-left mb-3" style="margin-left: 110px ">
                        <h4 class="text-right">Company Info</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Phone</label>
                            <h3 style="font-family: 'Courier', monospace;"> {{ request.user.company.telephone }}</h3>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels">Email</label>
                                <h3> {{ request.user.company.email }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center" style="display: flex; justify-content: space-between; padding-top: 25px">
                        {% if request.user.is_company_admin %}
                            <a type="button" href="{% url 'edit_company' request.user.company.id %}"
                               class="btn btn-primary profile-button">Edit company</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
