{% extends 'index.html' %}
{% load static %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container rounded  mt-5 mb-5">
            <div class="row" style="align-items: center; justify-content: center ">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        {% if user.image %}
                            <img class="rounded mt-5"
                                 width="250px"
                                 height="250px"
                                 style="box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)"
                                 src="{{ user.image.url }}">
                        {% else %}
                            <img class="rounded mt-5"
                                 width="250px"
                                 height="250px"
                                 style="box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)"
                                 src="{% static 'profile_images/avatar_placeholder.jpg' %}">
                        {% endif %}
                        {{ form.image }}
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-left align-items-left mb-3" style="margin-left: 110px ">
                            <h4 class="text-right">Editing profile</h4>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Name</label>
                                {{ form.first_name.errors }}
                                <h3> {{ form.first_name }}  </h3>
                            </div>
                            <div class="col-md-6"><label class="labels">Surname</label>
                                {{ form.last_name.errors }}
                                <h3> {{ form.last_name }}</h3>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Username</label>
                                {{ form.username.errors }}
                                <h3> {{ form.username }}</h3>
                            </div>
                            <div class="col-md-6"><label class="labels">Email</label>
                                {{ form.email.errors }}
                                <h3> {{ form.email }}</h3>
                            </div>
                        </div>
                        {% if request.user.is_company_admin %}
                            <div class="row mt-2">
                                <div class="form-check" style="margin-left: 12px"><label class="labels">Admin status</label>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{ form.is_company_admin.errors }}
                                    </label>
                                    {{ form.is_company_admin }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="mt-5 text-center">
                            <button type="submit"
                                    class="btn btn-primary profile-button">Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

