{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div style="display: flex;  justify-content: right; margin-right: 5px; margin-left: 5px; width: 100%">
        <form style="display: flex; flex-direction: column; align-items: center">
            <div class="form-floating" style="width: 150px;">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                        name="users_filter">
                    <option selected value="all">All users</option>
                    <option value="admins">Admins</option>
                    <option value="managers">Managers</option>
                </select>
                <label for="floatingSelect">Filter</label>
            </div>
            <input type="submit" value="Apply filter" class="btn btn-outline-success"
                   style="width: 150px; margin-top: 15px;">
        </form>
    </div>
    <div style="display: flex;
  justify-content: center" class="mb-1">
        <h3>Users</h3>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Full name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Company</th>
            <th scope="col">Position</th>
            {% if request.user.is_company_admin %}
                <th scope="col"></th>
                <th scope="col"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for user in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                {% if user.image %}
                    <th>
                        <img style="width: 40px; height: 40px; border-radius: 50%; box-shadow:0 3px 5px 0 rgba(0,0,0,0.2),0 4px 6px 0 rgba(0,0,0,0.19)"
                             src="{{ user.image.url }}">
                    </th>
                {% else %}
                    <th>
                        <img style="width: 40px; height: 40px; border-radius: 50%; box-shadow:0 3px 5px 0 rgba(0,0,0,0.2),0 4px 6px 0 rgba(0,0,0,0.19)"
                             src="{% static 'profile_images/avatar_placeholder.jpg' %}">
                    </th>
                {% endif %}
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.company.name }}</td>
                {% if user.is_company_admin %}
                    <td>Admin</td>
                {% else %}
                    <td>Manager</td>
                {% endif %}
                {% if request.user.is_company_admin %}
                    <td>
                        <a class="btn btn-outline-primary" style="width: 150px;"
                           href="{% url 'update_users' user.id %}">Edit
                        </a>
                    </td>
                {% endif %}
                <td>
                    {% if user.order_num == 0 %}
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal_del_{{ user.id }}">
                            Delete
                        </button>

                        <!-- Modal delete -->
                        <div class="modal fade" id="exampleModal_del_{{ user.id }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel_del_{{ user.id }}"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5"
                                            id="exampleModalLabel_del_{{ user.id }}">Deleting a
                                            manager</h1>
                                        <button type="button" class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-start">This action can not be undone!!!</p>
                                        <p class="text-start">
                                            ENSURE THAT REMOVING THE MANAGER
                                            ({{ user.username }}) WILL NOT CAUSE
                                            PROBLEMS.</p>
                                    </div>
                                    <div class="modal-footer"
                                         style="width: auto; display: flex; align-items: flex-start; justify-content: flex-start">

                                        <form method="post" style="width: 100%;" action={% url "user_delete" user.id %}>
                                            {% csrf_token %}
                                            <input class="form-control" type="text"
                                                   value="{{ user.username }}"
                                                   aria-label="Disabled input example" disabled readonly
                                                   style="margin-top: 15px">
                                            <label for="subm" class="form-label" style="margin-top: 15px">Enter the
                                                manager's username
                                                to confirm deletion:</label>
                                            <input class="form-control" type="text" name="user_name" id="subm"
                                                   style="margin-top: 2px">
                                            <button type="submit" class="btn btn-danger" style="margin-top: 15px">
                                                Delete
                                            </button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#exampleModal_del_{{ user.id }}">
                            Delete
                        </button>

                        <!-- Modal delete -->
                        <div class="modal fade" id="exampleModal_del_{{ user.id }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel_del_{{ user.id }}"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5"
                                            id="exampleModalLabel_del_{{ user.id }}">Attention</h1>
                                        <button type="button" class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-start">
                                            You cannot delete this manager because this manager has {{ user.order_num }} active orders.
                                            Transfer orders to another manager and you can delete the manager.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div aria-label="..." style="display: flex;
  justify-content: center" class="mb-3">
        <ul class="pagination d-flex">
            {% if page_obj.has_previous %}
                <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            </li>
            {% for p in paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </div>

{% endblock %}
