{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div style="display: flex;  justify-content: right; margin-right: 5px; margin-left: 5px; width: 100%">
        <form style="display: flex; flex-direction: column; align-items: center">
            <div class="form-floating" style="width: 150px;">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                        name="users_filter">
                    <option selected value="all">All users</option>
                    <option value="admins">Admins</option>
                    <option value="managers">Managers</option>
                </select>
                <label for="floatingSelect">Filter</label>
            </div>
            <input type="submit" value="Apply filter" class="btn btn-outline-success"
                   style="width: 150px; margin-top: 15px;">
        </form>
    </div>
    <div style="display: flex;
  justify-content: center" class="mb-1">
        <h3>Users</h3>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Full name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Company</th>
            <th scope="col">Position</th>
            {% if request.user.is_company_admin %}
                <th scope="col"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for user in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                {% if user.image %}
                    <th>
                        <img style="width: 40px; height: 40px; border-radius: 50%; box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)"
                             src="{{ user.image.url }}">
                    </th>
                {% else %}
                    <th>
                        <img style="width: 40px; height: 40px; border-radius: 50%; box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)"
                             src="{% static 'profile_images/avatar_placeholder.jpg' %}">
                    </th>
                {% endif %}
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.company.name }}</td>
                {% if user.is_company_admin %}
                    <td>Admin</td>
                {% else %}
                    <td>Manager</td>
                {% endif %}
                {% if request.user.is_company_admin %}
                    <td>
                        <a class="btn btn-outline-primary" style="width: 150px;"
                           href="#">Edit
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div aria-label="..." style="display: flex;
  justify-content: center" class="mb-3">
        <ul class="pagination d-flex">
            {% if page_obj.has_previous %}
                <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            </li>
            {% for p in paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </div>

{% endblock %}
